@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-brand-50:  #fefce8;
    --color-brand-100: #fef9c3;
    --color-brand-200: #fef08a;
    --color-brand-300: #fde047;
    --color-brand-400: #facc15;
    --color-brand-500: #eab308;
    --color-brand-600: #ca8a04;
    --color-brand-700: #a16207;
}